 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');

 body {
    background-color: hsl(0, 0%, 92%);
    color: rgb(100, 100, 100);
    font-family: 'Poppins', sans-serif;   
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

h1 {
    color: hsl(0, 0%, 40%);
    font-weight: 400;
    font-size: 1.6em;
    margin: 0px;
}

h2 {
    font-size: 1.6em;
    margin: 5px;
}

#content {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

strong {
    color: black;
}

.top {
    margin:  50px 0px;
    text-align: center;
}


.tile {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgb(192, 200, 214) 5px 5px 5px;
}

.supervisor {
    border-top: solid 5px hsl(180, 62%, 55%);
    
}

.builder {
    border-top: solid 5px hsl(0, 78%, 62%);
}

.karma {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
}

p img {
    width: 50px;    
    height: 50px;
    margin: 10px;
}

footer {
    font-size: 0.7em;
    text-align: center;
}

@media screen and (min-width: 769px) {

    #content {
        margin: 70px;
    }
    .tiles {
        display: flex;
        align-items: center; 
    }

    .side-left {
        width: 33.3%;             
    }
    
    .center {
        display: flex;
        flex-direction: column;
        width: 33.3%;
    }

    .side-right {
        width: 33.3%;
    }

    .tile {
        margin: 30px;
    }
    
}